<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="/workspace/scratch/1055b48473cb/async-bulk-imports/phpunit.xml" tests="81" assertions="333" errors="0" failures="0" skipped="0" time="6.157965">
    <testsuite name="Bulk Imports" tests="81" assertions="333" errors="0" failures="0" skipped="0" time="6.157965">
      <testsuite name="Nexus\ImportExport\Tests\Enterprise\ConcurrentWorkersTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/ConcurrentWorkersTest.php" tests="3" assertions="24" errors="0" failures="0" skipped="0" time="1.616175">
        <testcase name="test_independent_import_workers_commit_same_chunk_once_then_redelivery_is_noop" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/ConcurrentWorkersTest.php" line="66" class="Nexus\ImportExport\Tests\Enterprise\ConcurrentWorkersTest" classname="Nexus.BulkImports.Tests.Enterprise.ConcurrentWorkersTest" assertions="8" time="0.489608"/>
        <testcase name="test_independent_export_workers_commit_same_revision_once_then_redelivery_is_noop" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/ConcurrentWorkersTest.php" line="79" class="Nexus\ImportExport\Tests\Enterprise\ConcurrentWorkersTest" classname="Nexus.BulkImports.Tests.Enterprise.ConcurrentWorkersTest" assertions="8" time="0.462102"/>
        <testcase name="test_independent_distinct_chunks_increment_shared_progress_once_each" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/ConcurrentWorkersTest.php" line="94" class="Nexus\ImportExport\Tests\Enterprise\ConcurrentWorkersTest" classname="Nexus.BulkImports.Tests.Enterprise.ConcurrentWorkersTest" assertions="8" time="0.664466"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Enterprise\MetadataEngineTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/MetadataEngineTest.php" tests="9" assertions="52" errors="0" failures="0" skipped="0" time="2.502967">
        <testcase name="test_one_definition_maps_human_values_to_foreign_keys_and_exports_labels" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/MetadataEngineTest.php" line="19" class="Nexus\ImportExport\Tests\Enterprise\MetadataEngineTest" classname="Nexus.BulkImports.Tests.Enterprise.MetadataEngineTest" assertions="8" time="0.042982"/>
        <testcase name="test_dry_run_does_not_write_business_rows_and_reports_estimates" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/MetadataEngineTest.php" line="36" class="Nexus\ImportExport\Tests\Enterprise\MetadataEngineTest" classname="Nexus.BulkImports.Tests.Enterprise.MetadataEngineTest" assertions="5" time="0.052412"/>
        <testcase name="test_alias_mapping_validation_missing_relations_and_file_duplicates" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/MetadataEngineTest.php" line="50" class="Nexus\ImportExport\Tests\Enterprise\MetadataEngineTest" classname="Nexus.BulkImports.Tests.Enterprise.MetadataEngineTest" assertions="6" time="0.045093"/>
        <testcase name="test_template_contains_instructions_named_ranges_and_human_relation_values" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/MetadataEngineTest.php" line="63" class="Nexus\ImportExport\Tests\Enterprise\MetadataEngineTest" classname="Nexus.BulkImports.Tests.Enterprise.MetadataEngineTest" assertions="7" time="0.033054"/>
        <testcase name="test_xlsx_update_export_reimports_all_split_data_sheets" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/MetadataEngineTest.php" line="81" class="Nexus\ImportExport\Tests\Enterprise\MetadataEngineTest" classname="Nexus.BulkImports.Tests.Enterprise.MetadataEngineTest" assertions="4" time="0.060641"/>
        <testcase name="test_export_commit_before_ack_retry_and_finalizer_are_idempotent" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/MetadataEngineTest.php" line="95" class="Nexus\ImportExport\Tests\Enterprise\MetadataEngineTest" classname="Nexus.BulkImports.Tests.Enterprise.MetadataEngineTest" assertions="7" time="0.044025"/>
        <testcase name="test_http_whitelists_fields_downloads_and_unknown_resources" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/MetadataEngineTest.php" line="115" class="Nexus\ImportExport\Tests\Enterprise\MetadataEngineTest" classname="Nexus.BulkImports.Tests.Enterprise.MetadataEngineTest" assertions="5" time="0.039937"/>
        <testcase name="test_relation_queries_are_per_chunk_for_three_relations" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/MetadataEngineTest.php" line="126" class="Nexus\ImportExport\Tests\Enterprise\MetadataEngineTest" classname="Nexus.BulkImports.Tests.Enterprise.MetadataEngineTest" assertions="4" time="2.166005"/>
        <testcase name="test_field_visibility_and_explicit_database_excel_mapping" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/MetadataEngineTest.php" line="150" class="Nexus\ImportExport\Tests\Enterprise\MetadataEngineTest" classname="Nexus.BulkImports.Tests.Enterprise.MetadataEngineTest" assertions="6" time="0.018817"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" tests="26" assertions="105" errors="0" failures="0" skipped="0" time="0.793591">
        <testcase name="test_creator_only_details_controls_and_lists_without_tenancy" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="46" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="14" time="0.053681"/>
        <testcase name="test_guest_access_requires_global_and_definition_opt_in" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="68" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="3" time="0.021703"/>
        <testcase name="test_guest_tokens_are_random_hashed_and_not_exposed_by_status" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="76" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="7" time="0.027288"/>
        <testcase name="test_guest_owns_import_export_template_and_download" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="89" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="8" time="0.051726"/>
        <testcase name="test_cross_guest_and_cross_resource_access_are_denied" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="104" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="4" time="0.045104"/>
        <testcase name="test_expired_guest_token_fails_in_http_and_direct_service_calls" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="117" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="2" time="0.017738"/>
        <testcase name="test_guest_can_revoke_own_credential" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="127" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="4" time="0.019023"/>
        <testcase name="test_logged_in_identity_takes_precedence_over_guest_token" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="135" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="3" time="0.031703"/>
        <testcase name="test_forged_owner_context_and_recipient_fields_are_rejected" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="146" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="11" time="0.022510"/>
        <testcase name="test_guest_tokens_are_bound_to_trusted_context" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="156" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="3" time="0.019793"/>
        <testcase name="test_guest_disabled_after_issuance_is_denied" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="168" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="2" time="0.020818"/>
        <testcase name="test_cli_system_operations_keep_explicit_ownership" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="178" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="4" time="0.041626"/>
        <testcase name="test_guest_credentials_cannot_be_serialized_into_jobs" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="189" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="1" time="0.017172"/>
        <testcase name="test_notifications_are_disabled_by_default" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="196" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="2" time="0.038561"/>
        <testcase name="test_notifications_resolve_stored_creator_and_deduplicate_jobs" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="206" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="3" time="0.042986"/>
        <testcase name="test_notification_failure_does_not_fail_successful_import_or_export" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="226" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="5" time="0.041967"/>
        <testcase name="test_verified_guest_recipient_is_encrypted_and_receives_mail_notice" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="246" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="3" time="0.033649"/>
        <testcase name="test_database_notification_channel_writes_only_safe_metadata" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="260" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="4" time="0.027599"/>
        <testcase name="test_custom_notification_class_and_channels_are_supported" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="281" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="1" time="0.025901"/>
        <testcase name="test_context_restored_before_recipient_resolution_and_torn_down" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="290" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="3" time="0.024794"/>
        <testcase name="test_broker_failure_cannot_escape_notification_dispatcher" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="331" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="2" time="0.020234"/>
        <testcase name="test_failed_notification_receipt_can_retry_without_reprocessing_business_data" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="339" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="5" time="0.050643"/>
        <testcase name="test_after_commit_queue_failure_does_not_roll_back_committed_work" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="361" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="3" time="0.017831"/>
        <testcase name="test_rolled_back_operation_does_not_queue_notification" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="373" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="2" time="0.018103"/>
        <testcase name="test_live_notification_lease_excludes_duplicate_delivery" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="388" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="2" time="0.025929"/>
        <testcase name="test_migrations_and_counters_are_installable_and_exposed" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/OwnershipAndNotificationsTest.php" line="406" class="Nexus\ImportExport\Tests\Enterprise\OwnershipAndNotificationsTest" classname="Nexus.BulkImports.Tests.Enterprise.OwnershipAndNotificationsTest" assertions="4" time="0.035506"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Enterprise\TenantAccessTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/TenantAccessTest.php" tests="3" assertions="11" errors="0" failures="0" skipped="0" time="0.102631">
        <testcase name="test_optional_tenant_scopes_relations_templates_exports_and_owner_lists" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/TenantAccessTest.php" line="47" class="Nexus\ImportExport\Tests\Enterprise\TenantAccessTest" classname="Nexus.BulkImports.Tests.Enterprise.TenantAccessTest" assertions="9" time="0.061549"/>
        <testcase name="test_missing_required_tenant_context_fails_closed" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/TenantAccessTest.php" line="76" class="Nexus\ImportExport\Tests\Enterprise\TenantAccessTest" classname="Nexus.BulkImports.Tests.Enterprise.TenantAccessTest" assertions="1" time="0.020325"/>
        <testcase name="test_direct_dispatch_rejects_forged_tenant_context" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Enterprise/TenantAccessTest.php" line="82" class="Nexus\ImportExport\Tests\Enterprise\TenantAccessTest" classname="Nexus.BulkImports.Tests.Enterprise.TenantAccessTest" assertions="1" time="0.020757"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\AtomicStudentsImportTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/AtomicStudentsImportTest.php" tests="3" assertions="18" errors="0" failures="0" skipped="0" time="0.105660">
        <testcase name="test_atomic_import_merges_all_staged_rows_in_one_final_transaction" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/AtomicStudentsImportTest.php" line="15" class="Nexus\ImportExport\Tests\Feature\AtomicStudentsImportTest" classname="Nexus.BulkImports.Tests.Feature.AtomicStudentsImportTest" assertions="5" time="0.036467"/>
        <testcase name="test_atomic_import_with_one_invalid_row_writes_nothing_to_production" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/AtomicStudentsImportTest.php" line="36" class="Nexus\ImportExport\Tests\Feature\AtomicStudentsImportTest" classname="Nexus.BulkImports.Tests.Feature.AtomicStudentsImportTest" assertions="6" time="0.032561"/>
        <testcase name="test_atomic_commit_time_duplicate_rejection_rolls_back_every_production_write" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/AtomicStudentsImportTest.php" line="57" class="Nexus\ImportExport\Tests\Feature\AtomicStudentsImportTest" classname="Nexus.BulkImports.Tests.Feature.AtomicStudentsImportTest" assertions="7" time="0.036633"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\CancellationAndAuthorizationTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/CancellationAndAuthorizationTest.php" tests="2" assertions="6" errors="0" failures="0" skipped="0" time="0.044055">
        <testcase name="test_queued_import_can_be_cancelled_without_claiming_rollback_of_committed_data" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/CancellationAndAuthorizationTest.php" line="14" class="Nexus\ImportExport\Tests\Feature\CancellationAndAuthorizationTest" classname="Nexus.BulkImports.Tests.Feature.CancellationAndAuthorizationTest" assertions="3" time="0.024370"/>
        <testcase name="test_default_authorizer_prevents_idor_for_show_and_failure_routes" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/CancellationAndAuthorizationTest.php" line="29" class="Nexus\ImportExport\Tests\Feature\CancellationAndAuthorizationTest" classname="Nexus.BulkImports.Tests.Feature.CancellationAndAuthorizationTest" assertions="3" time="0.019685"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\ChunkRetryTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ChunkRetryTest.php" tests="1" assertions="12" errors="0" failures="0" skipped="0" time="0.033056">
        <testcase name="test_database_failure_rolls_back_then_retry_processes_only_the_failed_chunk_once" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ChunkRetryTest.php" line="21" class="Nexus\ImportExport\Tests\Feature\ChunkRetryTest" classname="Nexus.BulkImports.Tests.Feature.ChunkRetryTest" assertions="12" time="0.033056"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\CleanupCommandTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/CleanupCommandTest.php" tests="1" assertions="8" errors="0" failures="0" skipped="0" time="0.018595">
        <testcase name="test_cleanup_enforces_source_report_and_failure_record_retention" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/CleanupCommandTest.php" line="16" class="Nexus\ImportExport\Tests\Feature\CleanupCommandTest" classname="Nexus.BulkImports.Tests.Feature.CleanupCommandTest" assertions="8" time="0.018595"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\DuplicateStrategyTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/DuplicateStrategyTest.php" tests="3" assertions="13" errors="0" failures="0" skipped="0" time="0.090403">
        <testcase name="test_error_strategy_converts_an_existing_database_key_to_a_row_failure" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/DuplicateStrategyTest.php" line="16" class="Nexus\ImportExport\Tests\Feature\DuplicateStrategyTest" classname="Nexus.BulkImports.Tests.Feature.DuplicateStrategyTest" assertions="5" time="0.030446"/>
        <testcase name="test_skip_strategy_inserts_missing_and_counts_existing_without_updating_it" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/DuplicateStrategyTest.php" line="40" class="Nexus\ImportExport\Tests\Feature\DuplicateStrategyTest" classname="Nexus.BulkImports.Tests.Feature.DuplicateStrategyTest" assertions="4" time="0.031060"/>
        <testcase name="test_update_strategy_updates_existing_and_skips_missing_without_inserting_it" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/DuplicateStrategyTest.php" line="61" class="Nexus\ImportExport\Tests\Feature\DuplicateStrategyTest" classname="Nexus.BulkImports.Tests.Feature.DuplicateStrategyTest" assertions="4" time="0.028897"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\ErrorReportSecurityTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ErrorReportSecurityTest.php" tests="1" assertions="2" errors="0" failures="0" skipped="0" time="0.015302">
        <testcase name="test_csv_report_neutralizes_formula_cells_and_uses_redacted_failure_data" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ErrorReportSecurityTest.php" line="16" class="Nexus\ImportExport\Tests\Feature\ErrorReportSecurityTest" classname="Nexus.BulkImports.Tests.Feature.ErrorReportSecurityTest" assertions="2" time="0.015302"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\HeaderValidationTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/HeaderValidationTest.php" tests="3" assertions="9" errors="0" failures="0" skipped="0" time="0.056857">
        <testcase name="test_missing_mandatory_header_is_an_import_failure_not_a_row_failure" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/HeaderValidationTest.php" line="18" class="Nexus\ImportExport\Tests\Feature\HeaderValidationTest" classname="Nexus.BulkImports.Tests.Feature.HeaderValidationTest" assertions="4" time="0.018740"/>
        <testcase name="test_corrupt_xlsx_is_a_preparation_failure_not_completed_with_row_errors" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/HeaderValidationTest.php" line="43" class="Nexus\ImportExport\Tests\Feature\HeaderValidationTest" classname="Nexus.BulkImports.Tests.Feature.HeaderValidationTest" assertions="3" time="0.018716"/>
        <testcase name="test_stored_source_is_rejected_if_it_changes_after_acceptance" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/HeaderValidationTest.php" line="65" class="Nexus\ImportExport\Tests\Feature\HeaderValidationTest" classname="Nexus.BulkImports.Tests.Feature.HeaderValidationTest" assertions="2" time="0.019402"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\ImportCreationTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ImportCreationTest.php" tests="6" assertions="13" errors="0" failures="0" skipped="0" time="0.111111">
        <testcase name="test_upload_is_stored_and_request_work_is_queued_without_processing_rows" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ImportCreationTest.php" line="19" class="Nexus\ImportExport\Tests\Feature\ImportCreationTest" classname="Nexus.BulkImports.Tests.Feature.ImportCreationTest" assertions="5" time="0.019185"/>
        <testcase name="test_fingerprint_can_return_existing_or_explicitly_allow_another_import" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ImportCreationTest.php" line="39" class="Nexus\ImportExport\Tests\Feature\ImportCreationTest" classname="Nexus.BulkImports.Tests.Feature.ImportCreationTest" assertions="3" time="0.020099"/>
        <testcase name="test_preflight_rejects_an_unregistered_extension_before_storage_or_database_writes" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ImportCreationTest.php" line="58" class="Nexus\ImportExport\Tests\Feature\ImportCreationTest" classname="Nexus.BulkImports.Tests.Feature.ImportCreationTest" assertions="1" time="0.016387"/>
        <testcase name="test_default_fingerprint_scope_does_not_return_another_actors_protected_import" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ImportCreationTest.php" line="69" class="Nexus\ImportExport\Tests\Feature\ImportCreationTest" classname="Nexus.BulkImports.Tests.Feature.ImportCreationTest" assertions="1" time="0.018910"/>
        <testcase name="test_optional_api_maps_explicit_duplicate_rejection_to_conflict" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ImportCreationTest.php" line="82" class="Nexus\ImportExport\Tests\Feature\ImportCreationTest" classname="Nexus.BulkImports.Tests.Feature.ImportCreationTest" assertions="2" time="0.021070"/>
        <testcase name="test_sync_queue_is_rejected_unless_explicitly_enabled_for_tests" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ImportCreationTest.php" line="99" class="Nexus\ImportExport\Tests\Feature\ImportCreationTest" classname="Nexus.BulkImports.Tests.Feature.ImportCreationTest" assertions="1" time="0.015459"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\MultiTenantTargetKeyTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/MultiTenantTargetKeyTest.php" tests="1" assertions="2" errors="0" failures="0" skipped="0" time="0.037466">
        <testcase name="test_context_injected_target_key_matches_composite_database_constraint" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/MultiTenantTargetKeyTest.php" line="13" class="Nexus\ImportExport\Tests\Feature\MultiTenantTargetKeyTest" classname="Nexus.BulkImports.Tests.Feature.MultiTenantTargetKeyTest" assertions="2" time="0.037466"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\PartialStudentsImportTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/PartialStudentsImportTest.php" tests="1" assertions="14" errors="0" failures="0" skipped="0" time="0.040272">
        <testcase name="test_partial_import_records_bad_rows_updates_existing_and_finishes_with_errors" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/PartialStudentsImportTest.php" line="15" class="Nexus\ImportExport\Tests\Feature\PartialStudentsImportTest" classname="Nexus.BulkImports.Tests.Feature.PartialStudentsImportTest" assertions="14" time="0.040272"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\ReferenceQueryOptimizationTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ReferenceQueryOptimizationTest.php" tests="1" assertions="1" errors="0" failures="0" skipped="0" time="0.348117">
        <testcase name="test_course_references_are_loaded_once_for_the_chunk_instead_of_once_per_row" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/ReferenceQueryOptimizationTest.php" line="12" class="Nexus\ImportExport\Tests\Feature\ReferenceQueryOptimizationTest" classname="Nexus.BulkImports.Tests.Feature.ReferenceQueryOptimizationTest" assertions="1" time="0.348117"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Feature\XlsxStudentsImportTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/XlsxStudentsImportTest.php" tests="2" assertions="7" errors="0" failures="0" skipped="0" time="0.063956">
        <testcase name="test_xlsx_adapter_streams_a_real_workbook_through_the_shared_pipeline" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/XlsxStudentsImportTest.php" line="16" class="Nexus\ImportExport\Tests\Feature\XlsxStudentsImportTest" classname="Nexus.BulkImports.Tests.Feature.XlsxStudentsImportTest" assertions="4" time="0.031694"/>
        <testcase name="test_xlsx_adapter_skips_an_empty_leading_sheet_when_no_sheet_is_required" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Feature/XlsxStudentsImportTest.php" line="54" class="Nexus\ImportExport\Tests\Feature\XlsxStudentsImportTest" classname="Nexus.BulkImports.Tests.Feature.XlsxStudentsImportTest" assertions="3" time="0.032262"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Unit\BusinessKeyTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/BusinessKeyTest.php" tests="1" assertions="2" errors="0" failures="0" skipped="0" time="0.000453">
        <testcase name="test_hash_is_order_stable_without_silently_changing_key_values" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/BusinessKeyTest.php" line="10" class="Nexus\ImportExport\Tests\Unit\BusinessKeyTest" classname="Nexus.BulkImports.Tests.Unit.BusinessKeyTest" assertions="2" time="0.000453"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Unit\ChunkCompletionTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ChunkCompletionTest.php" tests="1" assertions="4" errors="0" failures="0" skipped="0" time="0.016657">
        <testcase name="test_each_lease_owned_chunk_increments_progress_exactly_once" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ChunkCompletionTest.php" line="17" class="Nexus\ImportExport\Tests\Unit\ChunkCompletionTest" classname="Nexus.BulkImports.Tests.Unit.ChunkCompletionTest" assertions="4" time="0.016657"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Unit\ChunkLeaseManagerTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ChunkLeaseManagerTest.php" tests="3" assertions="11" errors="0" failures="0" skipped="0" time="0.045916">
        <testcase name="test_only_one_worker_can_claim_a_live_chunk_lease" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ChunkLeaseManagerTest.php" line="17" class="Nexus\ImportExport\Tests\Unit\ChunkLeaseManagerTest" classname="Nexus.BulkImports.Tests.Unit.ChunkLeaseManagerTest" assertions="3" time="0.015209"/>
        <testcase name="test_only_one_worker_can_resume_the_batch_dispatch_crash_window" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ChunkLeaseManagerTest.php" line="39" class="Nexus\ImportExport\Tests\Unit\ChunkLeaseManagerTest" classname="Nexus.BulkImports.Tests.Unit.ChunkLeaseManagerTest" assertions="2" time="0.014144"/>
        <testcase name="test_finalization_cannot_be_claimed_until_every_chunk_is_terminal" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ChunkLeaseManagerTest.php" line="61" class="Nexus\ImportExport\Tests\Unit\ChunkLeaseManagerTest" classname="Nexus.BulkImports.Tests.Unit.ChunkLeaseManagerTest" assertions="6" time="0.016563"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Unit\ChunkStateMachineTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ChunkStateMachineTest.php" tests="2" assertions="2" errors="0" failures="0" skipped="0" time="0.000279">
        <testcase name="test_completed_chunks_cannot_be_requeued_or_reprocessed" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ChunkStateMachineTest.php" line="12" class="Nexus\ImportExport\Tests\Unit\ChunkStateMachineTest" classname="Nexus.BulkImports.Tests.Unit.ChunkStateMachineTest" assertions="1" time="0.000226"/>
        <testcase name="test_failed_chunks_may_only_return_to_queued" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ChunkStateMachineTest.php" line="19" class="Nexus\ImportExport\Tests\Unit\ChunkStateMachineTest" classname="Nexus.BulkImports.Tests.Unit.ChunkStateMachineTest" assertions="1" time="0.000053"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Unit\ContextNormalizerTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ContextNormalizerTest.php" tests="3" assertions="3" errors="0" failures="0" skipped="0" time="0.041822">
        <testcase name="test_it_accepts_whitelisted_scalar_context_and_sorts_it" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ContextNormalizerTest.php" line="11" class="Nexus\ImportExport\Tests\Unit\ContextNormalizerTest" classname="Nexus.BulkImports.Tests.Unit.ContextNormalizerTest" assertions="1" time="0.013855"/>
        <testcase name="test_it_rejects_untrusted_context_keys" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ContextNormalizerTest.php" line="18" class="Nexus\ImportExport\Tests\Unit\ContextNormalizerTest" classname="Nexus.BulkImports.Tests.Unit.ContextNormalizerTest" assertions="1" time="0.014295"/>
        <testcase name="test_it_rejects_non_finite_context_numbers" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ContextNormalizerTest.php" line="25" class="Nexus\ImportExport\Tests\Unit\ContextNormalizerTest" classname="Nexus.BulkImports.Tests.Unit.ContextNormalizerTest" assertions="1" time="0.013672"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Unit\CsvReaderTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/CsvReaderTest.php" tests="1" assertions="2" errors="0" failures="0" skipped="0" time="0.012949">
        <testcase name="test_leading_blank_records_do_not_shift_reported_source_row_numbers" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/CsvReaderTest.php" line="11" class="Nexus\ImportExport\Tests\Unit\CsvReaderTest" classname="Nexus.BulkImports.Tests.Unit.CsvReaderTest" assertions="2" time="0.012949"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Unit\FailureRedactorTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/FailureRedactorTest.php" tests="2" assertions="6" errors="0" failures="0" skipped="0" time="0.026293">
        <testcase name="test_sensitive_columns_are_removed_before_failure_persistence" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/FailureRedactorTest.php" line="10" class="Nexus\ImportExport\Tests\Unit\FailureRedactorTest" classname="Nexus.BulkImports.Tests.Unit.FailureRedactorTest" assertions="4" time="0.013489"/>
        <testcase name="test_oversized_failure_rows_are_replaced_with_a_bounded_marker" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/FailureRedactorTest.php" line="24" class="Nexus\ImportExport\Tests\Unit\FailureRedactorTest" classname="Nexus.BulkImports.Tests.Unit.FailureRedactorTest" assertions="2" time="0.012805"/>
      </testsuite>
      <testsuite name="Nexus\ImportExport\Tests\Unit\ImportStateMachineTest" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ImportStateMachineTest.php" tests="2" assertions="6" errors="0" failures="0" skipped="0" time="0.033382">
        <testcase name="test_it_allows_only_declared_transitions" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ImportStateMachineTest.php" line="15" class="Nexus\ImportExport\Tests\Unit\ImportStateMachineTest" classname="Nexus.BulkImports.Tests.Unit.ImportStateMachineTest" assertions="4" time="0.012787"/>
        <testcase name="test_invalid_transition_throws_and_does_not_mutate_state" file="/workspace/scratch/1055b48473cb/async-bulk-imports/tests/Unit/ImportStateMachineTest.php" line="25" class="Nexus\ImportExport\Tests\Unit\ImportStateMachineTest" classname="Nexus.BulkImports.Tests.Unit.ImportStateMachineTest" assertions="2" time="0.020595"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
